.ar {
  background-color: #ffffcc; }

.as {
  color: #999; }

.at {
  color: #AA0000;
  background-color: #FFAAAA; }

.au {
  color: #006699; }

.av {
  color: #555555; }

.aw {
  color: #999; }

.ax {
  color: #009999; }

.ay {
  color: #999; }

.az {
  color: #999; }

.ba {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.bb {
  font-style: italic; }

.bc {
  color: #FF0000; }

.bd {
  color: #003300; }

.be {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.bf {
  color: #AAAAAA; }

.bg {
  color: #000099; }

.bh {
  color: #003300; }

.bi {
  color: #99CC66; }

.bj {
  color: #006699; }

.bk {
  color: #006699; }

.bl {
  color: #006699; }

.bm {
  color: #006699; }

.bn {
  color: #006699; }

.bo {
  color: #007788; }

.bp {
  color: #FF6600; }

.bq {
  color: #d44950; }

.br {
  color: #4f9fcf; }

.bs {
  color: #336666; }

.bt {
  color: #00AA88; }

.bu {
  color: #336600; }

.bv {
  color: #9999FF; }

.bw {
  color: #999999; }

.bx {
  color: #CC0000; }

.by {
  color: #CC00FF; }

.bz {
  color: #9999FF; }

.ca {
  color: #00CCFF; }

.cb {
  color: #2f6f9f; }

.cc {
  color: #003333; }

.cd {
  color: #000000; }

.ce {
  color: #bbbbbb; }

.cf {
  color: #FF6600; }

.cg {
  color: #FF6600; }

.ch {
  color: #FF6600; }

.ci {
  color: #FF6600; }

.cj {
  color: #CC3300; }

.ck {
  color: #CC3300; }

.cl {
  color: #CC3300;
  font-style: italic; }

.cm {
  color: #CC3300; }

.cn {
  color: #CC3300; }

.co {
  color: #CC3300; }

.cp {
  color: #AA0000; }

.cq {
  color: #CC3300; }

.cr {
  color: #33AAAA; }

.cs {
  color: #CC3300; }

.ct {
  color: #FFCC33; }

.cu {
  color: #336666; }

.cv {
  color: #003333; }

.cx {
  color: #003333; }

.cy {
  color: #003333; }

.cz {
  color: #FF6600; }

.da .av,
.da .av + .cb,
.da .cb + .cb {
  color: #999; }

.db {
  padding: 15px;
  margin: 15px -15px;
  background-color: #f5f5f5; }
  @media (min-width: 576px) {
    .db {
      padding: 20px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 3px; } }
  .db pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0; }
  .db pre code {
    font-size: inherit;
    color: #343a40; }

@media (min-width: 576px) {
  .dc + .db {
    border-width: 0 1px 1px;
    border-radius: 0 0 3px 3px; } }

body {
  overflow-x: hidden;
  padding-bottom: 40px; }

.dd {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #007bff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0056b3), to(#007bff));
  background-image: linear-gradient(to bottom, #0056b3, #007bff); }
  .dd h1 {
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1; }
  .dd p {
    font-weight: 300;
    line-height: 1.4;
    color: #99caff; }
  @media (min-width: 576px) {
    .dd {
      font-size: 24px; }
      .dd h1 {
        font-size: 60px; } }
  @media (min-width: 992px) {
    .dd h1,
    .dd p {
      max-width: 75%; } }

#contents {
  display: none; }

#markdown-toc {
  padding-left: 0;
  margin-top: 30px;
  font-size: 13px;
  list-style: none; }
  #markdown-toc a {
    display: block;
    padding: 2px 10px 2px 10px; }
    #markdown-toc a:hover {
      text-decoration: none; }
  #markdown-toc > li {
    margin-bottom: 5px; }
  #markdown-toc > li:first-child {
    display: none; }
  #markdown-toc ul {
    list-style: none;
    padding-left: 20px; }
    #markdown-toc ul ul {
      display: none; }
  @media (min-width: 576px) {
    #markdown-toc {
      float: right;
      width: 220px;
      margin-right: -250px; }
      #markdown-toc a {
        color: #adb5bd;
        padding-left: 20px; }
      #markdown-toc ul {
        display: none; }
      #markdown-toc .active + ul {
        display: block; }
      #markdown-toc .active {
        padding-left: 18px;
        color: #007bff;
        background-color: transparent;
        border-left: 2px solid #007bff; }
      #markdown-toc.affix {
        top: 0; } }

.docs-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #f2f2f2; }
  .docs-top:hover, .docs-top:focus {
    text-decoration: none; }
  @media (min-width: 576px) {
    .docs-top {
      display: block; } }

.de {
  margin-bottom: 20px;
  font-size: 20px; }
  .de .a {
    padding: 5px; }

@media (min-width: 576px) {
  .e .df {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -10px;
    margin-left: -10px;
    border-radius: 0; } }

.docs-content {
  font-size: 16px; }
  .docs-content > h1 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #f8f9fa; }
    .docs-content > h1 + p {
      margin-bottom: 20px;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5; }
      @media (min-width: 576px) {
        .docs-content > h1 + p {
          font-size: 1.5rem; } }
  @media (min-width: 576px) {
    .docs-content {
      padding-right: 260px; } }

.dc {
  position: relative;
  padding: 20px;
  margin: 20px -15px;
  font-size: 14px;
  border: 0px solid #e5e5e5;
  background: #fff; }
  .dc::after {
    display: block;
    clear: both;
    content: ""; }
  .dc + .db {
    margin-top: -20px; }
  @media (min-width: 576px) {
    .dc {
      margin-left: 0;
      margin-right: 0;
      border-radius: 3px 3px 0 0; } }
  .dc + p {
    margin-top: 30px; }
  .dc > *:last-child {
    margin-bottom: 0; }
  .dc .e {
    width: auto; }
  .dc > .dropdown-menu:first-child {
    position: static;
    display: block; }
  .dc > .dg {
    max-width: 300px; }
  @media (min-width: 576px) {
    .dc .dh {
      display: inline-block;
      margin: 5px; } }
  .dc.di {
    background-color: #fafafa; }
  .dc .dj {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block; }
  .dc .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto; }
  .dc .dk {
    max-width: 90%; }
  .dc.dl {
    text-align: center; }
  .dc.dl > .dm {
    margin-top: 5px;
    margin-bottom: 5px; }
  .dc.dn .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1; }
  .dc.do {
    padding-bottom: 24px;
    background-color: #f9f9f9; }
  .dc.do .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px; }
  .dc > .dm {
    margin-top: 5px;
    margin-bottom: 5px; }

.docs-content > h3,
.docs-content > h2 {
  margin-top: 50px; }

.db {
  background-color: #f5f7f9;
  border: 1px solid #DDE2E6; }

.dc {
  background-color: transparent; }

.db pre code {
  color: #3E4952; }

.bg {
  color: #007bff; }

.de {
  color: #adb5bd; }

.dc .dp .a,
.dc .dp h3 {
  color: #007bff; }

.dc .dq {
  color: #fff; }

.dc .dr {
  color: #fff; }

.dc .ds {
  background-color: #fff; }

.dt {
  background-color: #007bff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0056b3), to(#007bff));
  background-image: linear-gradient(to bottom, #0056b3 0, #007bff 100%); }
